
<div class="mainWrapper">

  <h1>Camerons ArcGIS Application</h1>
  <section class="component">
    <app-basic-map></app-basic-map>
  </section>

  <section class="component">
    <app-web-map></app-web-map>
  </section>

  <section class="component">
    <app-widget-map></app-widget-map>
  </section>

  <section class="component">
    <app-legend-widget></app-legend-widget>
  </section>

  <section class="component">
    <app-popup-map></app-popup-map>
  </section>

  <section class="component">
    <app-distance-calulator></app-distance-calulator>
  </section>
</div>


